/*------------------------------------------------------------------
Developed by:
URL:

Stylesheet: Tablet & Small Desktop Stylesheet
(Screens Sizes 768px and Up)


------------------------------------------------------------------
- TABLE OF CONTENTS
------------------------------------------------------------------

1.0 - General Styles
    1.1 - Links
    1.2 - Headings
2.0 - Layout & Grid
3.0 - Header
	3.1 - Login
    3.2 - Navigation
4.0 - Banners
	4.1 - Homepage
	4.2 - Portfolio
5.0 - Blog
	5.1 - Single Posts
	5.2 - Pagination
6.0 - Forms
7.0 - Comments
8.0 - Sidebars
9.0 - Footer
10.0 - Visual Composer
11.0 - Woocommerce



/*------------------------------------------------------------------
1.0 - General Styles
------------------------------------------------------------------*/

body {
	padding-top:0;
}

p{
	font-size:16px;
}

ul{
	font-size:14px;
	line-height:1.5;

	li{
		padding:0 0 15px 0;
	}
}

ol{
	font-size:14px;
	line-height:1.5;
	margin:0 0 20px 20px;

	li{
		padding:0 0 15px 0;
	}
}



/*------------------------------------------------------------------
1.1 - Links
------------------------------------------------------------------*/




/*------------------------------------------------------------------
1.2 - Headings
------------------------------------------------------------------*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	margin:0 0 15px 0;
	line-height:1;
}

h1, .h1 {
	font-size: 72px;
	line-height:1;
	margin:30px 0 10px 0;
}

h2, .h2 {
	font-size: 56px;
}

h3, .h3 {
}

h4, .h4 {
}

h5, .h5 {
	font-size: 16px;
}

h6, .h6{
	font-size: 14px;
}


/*------------------------------------------------------------------
2.0 - Layout
------------------------------------------------------------------*/

.mobile{
	display:none !important;
}

.desktop{
	display:inherit;
	line-height: 0;
}

.container{
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    display: inline;
}

#page-container{
	width:auto; /*prevents text from overflowing screen width*/
}

#inner-content{

	.row{
		margin-bottom: 50px;
	}
}


/*------------------------------------------------------------------
3.0 - Header
------------------------------------------------------------------*/

.header{
	z-index:300;
	color:#333;
	background: transparent;

	img{
		width: auto;
		max-width: 100%;
	}

	.logo{
		width: auto;
	}

	.dropdown-menu{
		ul{
			text-align: center;
		}
	}
} // end header



/*------------------------------------------------------------------
3.1 - Login
------------------------------------------------------------------*/



/*------------------------------------------------------------------
3.2 - Navigation
------------------------------------------------------------------*/

.fixed{
	right: 3%;
}

.hidden{
}

.flyout-menu-container{
	width: 100%;
}

.main-menu-container{
	width: auto;
	display: inline-block;

	ul{
		float: right;
		margin: 0;
	}

	li{
		padding: 5px 0 5px 30px;
		text-align: right;
		display: inline-block;
		a{
			text-transform: uppercase;
			color: #333;
			&:hover{
				color:$link-color;
			}
		}
	}
}

nav {
	border: 0;
}

.nav {
	border: 0;

	ul {
		margin-top:0;
	}
	li {
		position: relative;

		a {
			border-bottom: 0;

			/*
			you can use hover styles here even though this size
			has the possibility of being a mobile device.
			*/
			&:hover, &:focus {
			}
		}

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/

		.sub-menu::after {
			content: '';
			display: block;
			position: absolute;
			left: 15px;
			top: -4px;
			width: 15px;
			height: 15px;
			border-color: #FFF;
			border-width: 1px;
			border-style: none none solid solid;
			background-color: #fff;
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			z-index:-1;
		}

		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			overflow: hidden;
			visibility: hidden;
			z-index: 8999;
			background-color:#FFF;
			border-radius:5px;
			box-shadow: 0px 1px 3px rgba(0, 0, 0, .9);
			z-index:11;

			li {
				margin:0;

				a {
					border-right: 0;
					display: block;
					width: 180px;
					border-bottom: 1px solid #ccc;
					padding:10px 10px 10px 20px;
					color:#222;

					&:hover,
					&:focus {
						color:$link-hover;
					}
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover ul {
			top: auto;
			overflow: visible;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */



/*------------------------------------------------------------------
4.0 - Pages
------------------------------------------------------------------*/


/*------------------------------------------------------------------
5.0 - Blog
------------------------------------------------------------------*/


/*------------------------------------------------------------------
5.1 - Single Posts
------------------------------------------------------------------*/

p.tags {
	font-size:14px;
}

.post-excerpt-container{
	h2{
		font-size: 56px;
	}
}


/*------------------------------------------------------------------
5.2 - Pagination
------------------------------------------------------------------*/



/*------------------------------------------------------------------
6.0 - Forms
------------------------------------------------------------------*/



/*------------------------------------------------------------------
7.0 - Comments
------------------------------------------------------------------*/



/*------------------------------------------------------------------
8.0 - Sidebars
------------------------------------------------------------------*/

.sidebar{
	padding-left: 30px;
}

	.widgettitle {
		border-bottom: 1px solid #ccc;
		margin-bottom: 0.75em;
	}

	.widget {
		padding: 0 0 30px 0;

		ul {
			li {

				&:first-child {}
				&:last-child {}
				a {
				}
				/* deep nesting */

				ul {
					margin-top: 0.75em;
					padding-left: 1em;
				}
			}
		}
	}



/*------------------------------------------------------------------
9.0 - Footer
------------------------------------------------------------------*/

.footer{

	.footer-title{
		text-align: left !important;
		width: auto !important;
	}

	ul.footer-menu{
		float: right;
		text-align: right;
		padding: 10px 0 !important;
	}

	.copyright {
	}
}

/*------------------------------------------------------------------
10.0 - Visual Composer
------------------------------------------------------------------*/

/*------------------------------------------------------------------
11.0 - Woocommerce
------------------------------------------------------------------*/
