/*------------------------------------------------------------------
Developed by:
URL:

Stylesheet: Base Mobile Stylesheet
Keep it simple, this loads on phones :)


------------------------------------------------------------------
- TABLE OF CONTENTS
------------------------------------------------------------------

1.0 - General Styles
    1.1 - Links
    1.2 - Headings
2.0 - Layout & Grid
3.0 - Header
	3.1 - Login
    3.2 - Navigation
4.0 - Pages
	4.1 - Homepage
5.0 - Blog
	5.1 - Single Posts
	5.2 - Pagination
6.0 - Forms
7.0 - Comments
8.0 - Sidebars
9.0 - Footer
10.0 - Visual Composer
11.0 - Woocommerce


/*------------------------------------------------------------------
1.0 - General Styles
------------------------------------------------------------------*/

html{
	height: 100%;
}

html, body {
	font-family: $sans-serif;
	font-weight:normal;
	font-size: 100%;
	line-height: 1.25;
	color: #565656;
	max-width: 100%;
	overflow-x: hidden;
	box-sizing: border-box;
	margin: 0;
}

body{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

*:focus {
    outline: none;
}

p{
	margin:0 0 30px 0;
	font-size:16px;
	line-height:1.25;
	font-family: $sans-serif;
}

ul{
	font-size:14px;
	line-height:1.5;
	margin: 0 0 20px 10px;
	list-style:circle;

	li{
		padding:0 0 15px 0;
		color:$primary-color;
	}
}

strong{
	font-family: $sans-serif-bold;
}

ol{
	font-size:16px;
	line-height:1.4;
	margin:0 0 20px 0;
	list-style:decimal;

	li{
		padding:0 0 15px 0;
	}
}

ul.clearfix{
	list-style:none;
	margin:0 !important;
	padding:0 !important;
}

img{
	max-width:100% !important;
	height: auto;
}

.entry-content, #inner-page-container{
	ol, ul{
	}
}

.center{
	text-align:center;
}

.video-wrapper{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}
.video-wrapper iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

button{
	border: 1px solid $link-color;
	color: $link-color;
	text-align: center;
	padding: 20px 25px;
	margin: 30px auto 0;
	text-transform: uppercase;
	font-family: "EurostileCondensed-Bold", Arial, sans-serif;
	background-color: transparent;
	transition: .2s ease-in-out;

	&:hover{
		color: #000;
		border: 1px solid #000;
	}
	span{
		margin-left: 3px;
		font-size: 14px;
	}
}


/*------------------------------------------------------------------
1.1 - Links
------------------------------------------------------------------*/

a{
	color: $link-color;
	font-weight:normal;
	text-decoration:none;
	font-family:$sans-serif;
	outline:0;
	transition: .2s ease-in-out;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		outline:0;
	}

	/* on click */
	&:active {
		color: $link-hover;
	}

	/* mobile tap color */
	&:link {
	}
}


/*------------------------------------------------------------------
1.2 - Headings
------------------------------------------------------------------*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	font-family: $sans-serif-bold;
	text-rendering: optimizelegibility;
	margin:0 0 15px 0;
	color:#000;
	line-height:1.2;

	a {
		text-decoration: none;
		color:$link-color;

		&:hover{
			color:$link-hover;
		}
	}
}

h1, .h1 {
	font-size: 72px;
	text-transform:uppercase;
	//line-height:1;
  font-weight: 800;
	color:$primary-color;
  padding: 10px 0;
	margin:30px 0 15px 0;

	a{
	}
}

h2, .h2 {
	font-size: 56px;
  font-weight: 800;
	text-transform:capitalize;
}

h3, .h3 {
	font-size: 22px;
  font-weight: 700;
	text-transform:capitalize;
	margin:0 0 15px 0;
}

h4, .h4 {
	font-size: 24px;
  font-weight: 400;
}

h5, .h5 {
	font-size: 18px;
}

h6, .h6{
	font-size: 18px;
}



/*------------------------------------------------------------------
2.0 - Layout & Grid
------------------------------------------------------------------*/

.mobile{
	display:block;
}

.desktop{
	display:none;
}

#inner-page-container{
	width:auto; /*prevents text from overflowing screen width*/
}



/*------------------------------------------------------------------
3.0 - Header
------------------------------------------------------------------*/

header{
	ul{
		list-style:none;
		li{
			padding:0;
		}
	}
	img{
		width:100%;
	}
}

.header{
	padding:20px 0 10px 0;
	width: 100%;
	z-index: 900;
	position: relative;
	background: transparent;

	img{
		width:auto;
	}

	.header-left{
		float: left;
		text-align: left;
		display: inline-block;
	}

	.header-right{
		margin-top: 18px;
		position: relative;
		display: flex;
		float: right;
		text-align: right;
	}

	.logo{
		min-width: 106px;
		height: auto;
		display: inline-block;
		margin: auto;
		transition: .2s linear;
		position: relative;

		a{
			display: inline-block;
			width: 100%;
		}

		&:hover{
			-webkit-transform: rotateZ(15deg);
			-ms-transform: rotateZ(15deg);
			transform: rotateZ(15deg);
		}
	}

	.mobile-logo{
		width: 150px;
		img{
			width: 150px !important;
		}
	}
}


/*------------------------------------------------------------------
3.1 - Login
------------------------------------------------------------------*/

.login-container{
	form{
		p{
			display: inline-block;
			font-size: 14px;
			margin:0 0 10px 10px;
			input{
				width: 120px;
				padding: 5px;
				color: #555;
			}
			input[type=submit]{
				margin: 0;
				font-size: 14px;
				padding: 8px 15px;
				width: auto;
			}
		}
	}
}

.welcome-text{
	color: #444;
	line-height: 1 !important;
	float: left;
	margin-top: 10px;
	margin-right: 12px;
}

#logged-in-user-container{
	float: right;

	#logged-in-user-avatar{
	    float: right;
		display: inline-block;
		margin-right: 5px;

		img{
			border-radius: 50%;
		}
	}
	.logged-in-user-menu-btn{
		&:before{
			content: '+';
		}
		color: #444;
		font-size: 40px;
		display: block;
		float: right;
		line-height: .9;
		cursor: pointer;
		margin-right: 0;
	}
	.active{
		&:before{
			content: 'x';
			font-size: 40px;
			line-height: .25 !important;
		}
	}
}

.login-btn{
	display: block;
	padding: 5px 10px;
	color: $link-color;
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 15px;
	&:hover{
		background-color: $link-hover;
		color: #fff !important;
		border: solid 1px transparent;
	}
}

#logged-in-user-menu-container{
	position: fixed;
	top: 80px;
	right: 0;
	bottom: 0;
	width: 300px;
	background-color: #444;
	color: #fff;
	padding: 20px 30px;
	z-index: -1;
	height: 100vh;
	margin-right: -300px;
	text-align: left;

	.welcome-text{
		border-bottom: 1px solid #333;
		padding: 0 0 10px 0;
		margin: 0 0 20px 0;
	}

	.log-out-container{
		clear: both;
	}
}


/*------------------------------------------------------------------
3.2 - Navigation
------------------------------------------------------------------*/

.hide{
	transform: translateX(100%) !important;
	transition: .2s transform;
}

.main-menu-container{
	transition: .2s linear;
	a{
		font-size: 16px;
	}
}//end main menu container

@media only screen and (max-width: 767px) {
	.main-menu-container{
		display: none !important;
	}//end main menu container
}

.fixed{
	position: fixed !important;
	z-index: 100;
	right: 5%;

	span{
		background: #555 !important;
	}
	&:hover{
		span{
			background: #fff !important;
		}
	}
}

.menu-btn-container{
	margin: 5px 0 0 30px;
	display: inline-block;
	height:auto;
	position:relative;
	padding: 0;
	z-index: 100;

	button{
		float: right;
		color: #999;
		line-height: 0;
		width: 35px;
		background: transparent;
		border:none;
		margin:0;
		padding: 0;

		&:hover{
			#nav-icon span{
				background: $link-color;
			}
		}
	}
}//end menu btn container

#nav-icon{
	width: 32px;
	height: 25px;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;

	&:hover{
		span{
			background: $link-color;
		}
	}
}
#nav-icon span{
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: #000;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}
#nav-icon span:nth-child(1) {
	top: 0px;
}
#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
	top: 9px;
}
#nav-icon span:nth-child(4) {
	top: 18px;
}
#nav-icon.open span:nth-child(1) {
	top: 9px;
	width: 0%;
	left: 50%;
}
#nav-icon.open span:nth-child(2) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#nav-icon.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
#nav-icon.open span:nth-child(4) {
	top: 9px;
	width: 0%;
	left: 50%;
}

.flyout-menu-container{
	text-align: center;
	background-color: #333;
	margin-left: 0px;
	position: fixed;
	bottom: 0;
	right: 0;
	height: 100vh;
  border-left: #111 1px solid;
	padding-top: 100px;
	max-width: 100%;
	width: 100%;
	transform: translateX(0);
	transition: .2s transform;

	button{
		background: transparent;
		float: right;
		padding: 20px;
		font-size: 28px;
		color: #777;
	}

	ul{
		padding: 0 15px !important;
		margin: 0;

		li{
			width: 100%;
			float: left;

			a{
				width: 100%;
				text-align: center;
				display: inline-block;
				padding: 25px;
				color: #777;
				font-size: 20px;
				text-transform: uppercase;

				&:hover{
					color: #fff;
				}
			}
		}
	}// flyout menu ul
} //end flyout menu container


/*------------------------------------------------------------------
4.0 - Pages
------------------------------------------------------------------*/

//This page title applies default pages and woocommerce
h1.page-title{
}
//Default title styling on archive pages
.page-sub-title{
}
//Default banner styling on archive pages
.page-banner{
}

//Used on archive pages and excerpt containers
[class*="card-"]{
	border: 1px solid #dadada;
	padding: 30px;
	margin-bottom: 30px;
}




/*------------------------------------------------------------------
5.0 - Blog
------------------------------------------------------------------*/

#blog-page-container{
	background-color: #fff;
	margin-top:-25px;
}

.blog-content-container{
	background-color: #fff;
	padding: 20px 0 0 0;
}

section{
	margin: 0 0 20px 0;
}

.blog-title-container{
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 10;

	.blog-line{
		position: absolute;
		top: 35%;
		left: 0;
		right: 0;
		color: #dadada;
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #dadada;
		z-index: -1;
	}

	.blog-title{
		padding: 0 30px;
		margin: 0;
		background-color: #fff;
		width: auto;
		display: inline-block;
	}
}

.category-links{
	margin:10px 0;
	list-style: none;
	a{
		color: $link-color;
		text-transform: uppercase;
		font-size:24px;

		&:hover{
			color:#000;
		}
	}
}

.avatar{
	margin-bottom: 20px;
}

.author-link{
	margin-top: 20px;
	display: block;
	font-size: 16px;
	font-weight: 400;
}

.article-footer{
	ul{
		list-style: none;
		padding: 0 !important;
		margin: 0 0 20px 0 !important;
		li{
			display: inline-block;
		}
	}
}

.excerpt-read-more{
	clear: both;
	display: block;
	margin: 20px 0;
	color: $link-color;
	font-family: $sans-serif-bold;
	text-transform: uppercase;
	width: max-content;

	&:after{
		font-family: 'icomoon' !important;
		content: "\ea15";
		margin: 0 0 0 5px;
		font-size: 14px;
	}
}

.post-container{
	img{
		width: 100%;
		height: auto;
	}
}

.addthis_button_compact{
	i{
		color: #474747;
	}
}

.post-categories{
	a{
		color: #999;
	}
}

.post-excerpt-container{
	margin-bottom: 40px;
	border: 1px solid #ddd;
	padding:30px;
	position: relative;

	h2, h2 a{
		margin: 0 0 5px 0;
		color: #000;
		font-family: $sans-serif-bold;
		line-height: 1;
		text-transform: uppercase;
		&:hover{
			color: #555;
		}
	}

	section, a{
		margin-bottom: 0;
	}

	p{
		margin: 0;
	}
}

.thumbnail-link{
	display: block;
	line-height: 0;
	max-height: 550px;
	overflow: hidden;
	position: relative;

	.overlay{
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		left: 0;
		bottom:0;
		background: rgba(0,0,0,.4);
		opacity: 0;
		z-index: 1;
		transition: 0.3s linear;
		text-align: center;
		color: #fff;
		display: flex;
		align-items: center;

		button{
			color: #fff;
			border:1px solid #fff;
			margin: 0 auto;
			width: 85%;
			height: 80%;
			text-align: center;
		}
	}

	img{
		width: 100%;
	}

	&:hover{
		.overlay{
			opacity:.8;
		}
	}
}

.share-container{
	text-align: right;
	float: right;
	margin: 0 0 10px 0;
	position: absolute;
	right: 30px;

	.share-title{
		text-transform: uppercase;
		color: #dadada;
		font-size: 24px;
		font-family: $sans-serif-bold;
		margin-right: 10px;
	}

	.icons{
		font-size: 20px;
		color: #dadada;
		&:hover{
			color:$link-color;
		}
	}
}

.date-container{
	position: absolute;
	right: 30px;
	bottom: 30px;
	color: #dadada;
	font-size: 20px;
}


/*------------------------------------------------------------------
5.1 - Single Posts
------------------------------------------------------------------*/

.single-post{
	.article-header{
		&:after{
			content: '';
			display: block;
			width: 85px;
			bottom: -5px;
			left: 0px;
			border: 1px solid #a3a3a3;
			margin: 15px 0 10px 0;
		}
	}
}

.single-featured-image-container{
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
	margin: 0 0 30px 0;
	background-size: cover;

	img{
		width: 100%;
		height: auto;
	}

	h1{
		padding: 150px;
		color: #FFF;
		text-align: center;
		text-shadow: -1px 1px 0 rgba(100,100,100,0.5);
	}
}

p.tags {
  margin-bottom: 75px;
	font-size:14px;
	font-style:italic;
}

#content {
	margin:0;
}

/* post meta */
.byline {
	color: #999;
}

/* entry content */
.entry-content {
	dd {
		margin-left: 0;
		font-size: 0.9em;
		color: #787878;
		margin-bottom: 1.5em;
	}

	img {
		margin: 0 0 1.5em 0;
		max-width: 100%;
		height: auto;
	}

	video, object {
		max-width: 100%;
		height: auto;
	}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
	}

} /* end .entry-content */

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	/* images inside wp-caption */
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
} /* end .wp-caption */


/*------------------------------------------------------------------
5.2 - Pagination
------------------------------------------------------------------*/

.single-pagination{
	padding: 40px 0;
  border-bottom: 1px solid #ccc;
	border-top: 1px dotted #ccc;
}

.pagination{
	margin: 0 0 50px 0;
	font-size: 18px;
	clear: both;

	a{
		color: $link-color;
		display: inline-block;
		font-weight: 400;

	}
	a.current{
		color: #474747;
	}

	.page-numbers {
		display: inline-block;
	  vertical-align: top;
		margin-top: 20px;
		padding: 5px;
	}

	.screen-reader-text{
		display: none;
	}
}

.next{
	color: #474747 !important;
	font-size: 18px;
	line-height: 1;
	float: right;
	margin-top: 0 !important;
	&:hover{
		&:after{
			background-color: $link-color;
		}
	}

	&:after{
		font-family: 'FontAwesome';
		content: '\f061';
		padding: 20px;
		background-color: #474747;
		color: #fff;
		display: inline-block;
		margin-left: 15px;
	}
}

.prev{
	color: #474747 !important;
	font-size: 18px;
	line-height: 1;
	float: left;
	margin-top: 0 !important;

	&:hover{
		&:before{
			background-color: $link-color;
		}
	}

	&:before{
		font-family: 'FontAwesome';
		content: '\f060';
		padding: 20px;
		background-color: #474747;
		color: #fff;
		display: inline-block;
		margin-right: 15px;
	}
}

.next, .prev-post, .next-post{
	text-align: center;
	display: inline-block;

	a{
		background-color: #474747;
		color: #fff;
		padding: 15px 20px;
	}

	&:hover{
		a{
			color:#FFF;
			background-color: #ee8527;
		}
	}
}

.prev-post{
	float: left;

	i{
		margin-right: 10px;
	}
}

.next-post{
	float: right;

	i{
		margin-left: 10px;
	}
}


.pagination,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.pagination{
        text-align: center;
        ul {
            display: inline-block;
            white-space: nowrap;
            padding:0;
            clear: both;
            margin: 1px;
            li {
                padding: 0;
                margin: 0;
                float: left;
                display: inline;
                overflow: hidden;
                a, span {
                    margin: 0;
                    text-decoration: none;
                    padding: 0;
                    line-height: 1em;
                    font-size: 1em;
                    font-weight: normal;
                    padding: .5em;
                    min-width: 1em;
                    display: block;
                }
                span.current{
                	font-weight: bold;
                }
                a:hover, a:focus {

                }
            }
        }
    } /* end page navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}
	} /* end .wp-prev-next */



/*------------------------------------------------------------------
6.0 - Forms
------------------------------------------------------------------*/

form{
	padding:0 !important;

	li{
		padding:0;
	}

	label{
		color:#555;
		text-shadow:none;
		font-weight:normal;
	}

	input, textarea{
		padding:10px !important;
		background-color:#FFF;
		border:1px solid #CCC;
		color:#555;
		width: 100% !important;
		display: block;
		font-size: 18px !important;
	}
}

input[type=submit]{
	background-color: $link-color;
}

input[type="search"]{
	box-sizing: border-box;
}

.widget_search label{
	display: none;
}

.gform_wrapper{
	margin: 0;
	ul{
		list-style: none;
		margin-left: 20px;
	}
}

.gform_wrapper ul.gform_fields li.gfield {
    padding-right: 0 !important;
}

.search-form{
  display:flex;
  flex-direction:row;

	input {
	  /* Tell the input to use all the available space */
	  flex-grow:2;
	  /* And hide the input's outline, so the form looks like the outline */
	  border:1px solid #ddd;
		border-right: 0;
	}

	button {
	  background:#555;
	  color:white;
		margin: 0;
		transition: .2s ease-in-out;
		border: none;
		padding: 15px 20px;

		[class*="icon-"]{
			font-size: 18px;
		}

		&:hover{
			background: $link-color;
			border: none;
		}
	}
}



/*------------------------------------------------------------------
7.0 - Comments
------------------------------------------------------------------*/

h3#comments{
	margin-top:30px;
}

.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;
		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	/* general comment classes */
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}
		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
			width: auto;
		}

	} /* end .commentlist .vcard */

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

.respond-form {
	margin: 40px 0 0 0;
	background-color:#f8f7f7;
	padding:15px 25px 0 25px;

	.alert-info{
		display:none;
	}

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

/* comment form title */
#comment-form-title {
	margin-top:0;
}

/* allowed tags */
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
.nocomments {
	margin: 0 20px 1.1em;
}



/*------------------------------------------------------------------
8.0 - Sidebars
------------------------------------------------------------------*/

.widget{
	ul{
		margin: 0;
	}
	a{
		color: #555;
		&:hover{
			color: $link-hover;
		}
	}
}

.widget_search{
	margin-bottom: 20px;
	input{
		padding: 10px;
		max-width: 100%;
	}
}



/*------------------------------------------------------------------
9.0 - Footer
------------------------------------------------------------------*/

.footer {
	clear: both;
	z-index:200;
	padding: 10px 0;
	background-color: $primary-color;
	color: $white;
	text-align: center;

	span{
		color:#fff;
		font-size:16px;
		line-height:21px;
		font-family:$sans-serif;
		text-align:center;
	}

	.row{
		margin-bottom: 0 !important;
	}

	a{
		color: #fff;
		outline:0;

		&:hover{
			color:#fff;
		}
	}

	.footer-meta-data{
		padding: 15px 0;

		.footer-title{
			text-transform: uppercase;
			text-align: center;
			display: block;
			width: 100%;
		}
	}

	.menu-container{
		margin: 0 0 20px 0;
		background-color: #333;

		span{
			color: #AAA !important;
		}

		li{
			padding: 0 0 0 20px;

			a{
				color: #CCC;
				font-size: 13px;
				padding: 15px 0;
				display: inline-block;
			}
		}
	}

	ul.footer-menu{
		width: 100%;
		text-align: center;
		padding: 0 0 20px 0 !important;

		li{
			display: inline-block;
			text-align: center;
			padding: 0;

			a{
				padding: 0 10px;
				border-top: none;

				&:hover{
					border-top: none;
				}
			}
		}
	}

	.copyright {
		text-transform: capitalize;
		font-family: $sans-serif;
		text-align: center;
		display: block;

		a{
		}
	}
}



/*------------------------------------------------------------------
10.0 - Visual Composer
------------------------------------------------------------------*/

.dslc-modules-section{
	padding-left: 30px;
	padding-right: 30px;
}

.top-icon a{
	.dslc-icon{
	    width: 100%;
		display: block;
		text-align: center;
		font-size: 40px;
		margin-bottom: 20px;
	}
}

.headshot{
	width: 80%;
	margin: auto;
	display: block;
	float: none;
}

.headshot .dslc-image, .headshot img{
	border-radius: 50% !important;
}

.dslc-widget{
	ul{
		li{
			list-style: none;
			padding: 10px 15px;
			background-color: $riz3-dark-grey;
		}
	}
}

/*------------------------------------------------------------------
11.0 - Woocommerce
------------------------------------------------------------------*/
.product_title{
	font-size: 54px;
	text-transform: capitalize;
	line-height: 1.1;
}

.woocommerce button.button, .woocommerce button.button.alt{
	background-color: $link-color;
	border-radius: 0;
	padding: 14px;

	&:hover{
		background-color: $link-hover;
	}
}
