/******************************************************************
Developed by:
URL:

Stylesheet: Buddypress Stylesheet
******************************************************************/


#profile-edit-form{

	.field_type_selectbox{
		margin: 0 0 20px 0;
		display: inline-block;
		width:100%;
		clear:both;
	}

	label{
		width: 45%;
		display: inline-block;
		background-color:#E5E5E5;
		padding: 10px 15px;
		float: left;
	}

	input{
		width: 55%;
		padding: 10px 20px;
		border: 2px solid #E5E5E5;
	}

	select{
		width:55%;
		padding: 10px 15px;
	}

	.radio{
		width: 100%;
		display: inline-block;
		float: left;
		margin: 0 0 20px 0;

		label{
			width:100%;
		}

		input{
			width:20%;
		}

		div{
			clear:both;
			label{
				background-color:transparent;
				border: 1px solid #E5E5E5;
				width:33.3%;
				float:left;
			}
		}
	}

	.clear-value{
		padding:10px;
		display:inline-block;
		background-color:$cta-color;
		color:#FFF;
	}
}


#settings-form{

	label {
		width: 50%;
		clear:both;
		float:left;
		margin:0 0 10px 0;
	}

	input{
		width:50%;
		clear:both;
		float:left;
		padding:8px;
	}

	input#email{
		margin:0 0 20px 0;
	}

	.input-desc{
		float:left;
		clear:both;
		font-size:13px;
		margin:0 0 20px 0;
	}
}

.sign-up-page{

	h3{
		border-bottom:1px dashed #CCC;
		margin:0 0 30px 0;
		padding:0 0 15px 0;
	}

	.radio{
		border-bottom:1px solid #CCC;
		padding:0 0 20px 0;

		label{
			display:inline-block !important;
			margin:0 30px 0 0 !important;

			input{
				margin:0 5px 0 0;
			}
		}
	}

	input[type="submit"]{
		float:right;
	}
}

.sign-up-field{

	margin:0 0 30px 0;

	label{
		margin: 7px 10% 0 0 !important;
		width: 35% !important;
		display: inline-block !important;
		font-size:18px;
		line-height:21px;
	}

	input{
		width:50% !important;
		display:inline-block;
		padding:5px;
		font-size:14px;
		float:right;
	}
}


/*
Member Directory Styles (members-loop.php)
***************************************************************/

#pag-top{
	border-bottom:1px dashed #CCC;
	padding:0 0 10px 0;
	font-size:12px;
	text-align:left;
}

#pag-bottom{
	border-top:1px dashed #CCC;
	padding:10px 0 0 0;
	font-size:12px;
	text-align:right;
	clear: both;
}

.member-container{
	margin-bottom:25px;
}

.member-info-container{
	border-top:1px solid #EEE;
	border-right:1px solid #EEE;
	border-bottom:1px solid #CCC;
	border-left:1px solid #DDD;
	background-color:#FFF;
	display:block;
	padding:15px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-right:20px;

	.arrow{
		border-bottom: 1px solid #DDD;
		border-left: 1px solid #DDD;
		left:-10px;
	}
}

#members-dir-list{
	img{
		box-shadow: 0px 1px 3px rgba(0, 0, 0, .6);
		border-radius:120px;
	}
}

.item-avatar {
	padding:0 10px 0 0;

	img{
		width:100% !important;
		height:auto !important;
		float:left;
		display:block;
	}

}

#item-header-content{
	background-color:#FFF;
	padding:20px 20px 30px 20px;
	border-radius:3px;
	width:auto;
	display:inline-block;

	a{
		color:$fs-blue !important;
	}

	.friendship-button a{
		color:#FFF !important;
	}
}


#item-nav{
	li{
		display:inline-block;

		a{
			padding:7px 15px;
			background-color:#555;
			margin: 0 10px 0 0;
			border-radius:3px;
			color:#FFF;

			&:hover{
				background-color:#F5F5F5;
				color:#222;
			}

			span{
				background-color:#6AB7DF;
				padding:1px 5px;
				border-radius:3px;
				margin:0 0 0 5px;
			}
		}
	}
}

.current{
	a{
		color:#fff;
		background-color:$fs-blue !important;

		&:hover{
			color:#FFF !important;
		}
	}
}

#item-body{
	border-bottom:1px solid #CCC;

	li{
		display:inline-block;
		padding:5px 20px 5px 0;
		margin: 0 2px 0 0;

		a{
			color:#333;

			span{
				background-color:#6AB7DF;
				padding:1px 5px;
				border-radius:3px;
				margin:0 0 0 5px;
			}
		}
	}

	#subnav{
		margin:0 0 10px 0;

		ul{
			margin:10px 0 5px 0;

			li{
				a{
					background-color:transparent;
					color:#333;

					&:hover{
						background-color:$fs-blue;
						color:#FFF;
					}
				}
			}
		}
	}
}

#activity-filter-select, #members-order-select{
	background-color:transparent;
	padding:0;
	float:right;
}

#profile-header-bg{
	background-color:#6AB7DF;
	background-image:url(../images/profile-texture.jpg);
	background-repeat:repeat;
	padding:30px 0 15px 0;
	color:#222;
	font-size:16px;
	line-height:21px;

	img{
		padding:7px;
		background-color:#FFF;
		border-radius:3px;
		box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
		float:left;
		margin:0 20px 10px 0;
	}

	#item-header-content{
		position:relative;
		margin:0 0 15px 0;

		a{
			color:#FFF;
		}
	}
}

.arrow{
   content: '';
    display: block;
    position: absolute;
    left: -8px;
    top: 15px;
    width: 20px;
    height: 20px;
    border-color: #FFF;
    border-width: 1px;
    border-style: none none solid solid;
    background-color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}


.friendship-button, #send-private-message, #post-mention{
	display:inline-block;
}

.friendship-button a, #send-private-message a, #post-mention a{
	padding:3px 10px;
	background-color:$fs-blue;
	color:#FFF !important;
	width:auto;
	margin:10px 10px 5px 0;
	float:left;
	font-size:13px;

	&:hover{
		color:#FFF;
		background-color:$cta-hover;
	}
}

#members-dir-search {
	background-color: #F7F7F7;
	padding:15px 20px 10px 20px;
	margin:0 0 30px 0;
	border-top:1px solid #EEE;
	border-bottom:1px solid #DDD;
	border-left:1px solid #DDD;
	border-right:1px solid #EEE;
	border-radius:3px;
	font-size:13px;

	h3{
		border-bottom:1px dashed #ccc;
		padding:0 0 7px 0;
	}
}


/*
Activity Styles
***************************************************/

#whats-new-avatar{
	display:none;
}

#subnav{
	li{
		a{
			padding:5px 10px;
			color:#FFF;
		}
	}
}

.activity-item{
	padding:20px !important;
	margin: 15px 0 !important;
	width:100%;
	background-color:#FFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .5);
}

#whats-new-textarea{
	textarea{
		width:100%;
		padding:5px;
		height:50px;
	}
}

.activity-content{
	display:inline-block;
	float:left;

	p{
		margin:0 0 15px 0;
	}
}

.activity-header, .acomment-meta{
	font-size:13px;
	line-height:13px;
}

.time-since{
	background-color:transparent !important;
	padding:0 !important;
}

.activity-avatar, .acomment-avatar, .ac-reply-avatar{
	display: inline-block;
	float: left;
	margin:0 15px 0 0;
}

.activity-comments{
	float:left;
	clear:left;
	width:100%;

	li{
		width:100%;
		border-top:1px solid #ccc;
		padding-top:15px !important;
	}

	.acomment-options{
		margin-bottom:15px;
	}

	form{
		margin:15px 0 0 0;
		background-color:#F5F5F5;
		padding:20px 20px 10px 20px;

		textarea{
			width:80%;
		}
	}

	.acomment-reply, .delete{
		background-color:#888;
		padding:5px 10px;
		color:#FFF !important;
		font-size:12px;

		&:hover{
			background-color:$fs-blue;
		}
	}
}



/*--------------------------------------------------------------
3.9 - Private Messaging Threads
--------------------------------------------------------------*/

.messages{
	.pagination{
		text-align:left;
		margin:0 0 10px 0;
		display:inline-block;
		float:left;
		clear:both;
		width:100%;
	}
}

table#message-threads{

	.thread-excerpt{
		padding:20px 10px 20px 20px;
		border-left:1px solid #DDD;
	}

	tr.read {
		background: #FFF;
		border-bottom:1px solid #CCC;
		border-top:1px solid #EEE;
		border-left:1px solid #DDD;
		border-right: 1px solid #DDD;
		width:100%;
		display:inline-block;
	}

	tr.unread{
		background: #EEE;
		border-top: 1px solid #ffe8c4;
		border-bottom: 1px solid #ffe8c4;
		font-weight: bold;
		width:100%;
		display:inline-block;
	}

	.avatar{
		margin:0;
	}

	.button{
		margin:0;
	}
}

.messages-options-nav{
	margin:0 0 20px 0;
	background: #FFF;
	padding: 10px 15px;
	text-align: right;
	font-size:13px;
	border-top:none !important;
	border:1px solid #DDD;
}

li span.unread-count,
tr.unread span.unread-count {
	background: #dd0000;
	color: #fff;
	font-weight: bold;
	padding: 2px 8px;
}
div.item-list-tabs ul li a span.unread-count {
	padding: 1px 6px;
	color: #fff;
}

div#message-thread div.message-box {
	margin: 0;
	padding: 15px;
}
div#message-thread div.alt {
	background: #f4f4f4;
}
div#message-thread p#message-recipients {
	margin: 10px 0 20px 0;
}
div#message-thread img.avatar {
	float: left;
	margin: 0 10px 0 0;
	vertical-align: middle;
}
div#message-thread strong {
	font-size: 100%;
	margin: 0;
}
div#message-thread strong a {
	text-decoration: none;
}
div#message-thread strong span.activity {
	margin-top: 4px;
}
div#message-thread div.message-metadata {
	overflow: hidden;
}
div#message-thread div.message-content {
	margin-left: 45px;
}
div#message-thread div.message-options {
	text-align: right;
}
#message-threads img.avatar {
	max-width: none;
}
div.message-search {
	float: right;
	margin: 0 20px;
}



/*
Profile Styles
***************************************************/

table.profile-fields {
	border: 1px solid #CCC;
	width: 100%;
	margin:0 0 30px 0;

	td{
		padding:5px 20px;
		border-bottom:#ccc 1px solid;
	}

	td.label{
		border-right:1px solid #CCC;
		width:35%;
	}
}
