/******************************************************************
Developed by:
URL:

Stylesheet: Base Grid Stylesheet

******************************************************************/

//wrap and center content
.wrap-sm{
  max-width: 930px;
  width: 94%;
  margin: 0 auto;
} /* Globally change grid width here */

.wrap {
  max-width: 1280px;
  width: 94%;
  margin: 0 auto;
} /* Globally change grid width here */

.wrap-full {
  width: 94%;
	margin: 0 auto;
	clear:both;
} /* Globally change grid width here */

.row{
	margin-left:-2.5%;
	width:102.5%;
}

//clear row to always have a height
.row:after{
	content: "";
	display: table;
	clear: both;
}

// layout & column defaults
[class*="col-"] {
  position: relative;
  float: left;
  margin-left: 2.5%;
  display:block;
  max-width:100%;
  @include clear;
}

[class*="offset-"]{
  position: relative;
  float: left;
  display:block;
  @include clear;
}

/* 1 column grid */
.col-m-full  {width: 97.5%;}

/* 2 column grid */
.col-m-1-2 {width: 47.5%;}

.offset-m-1-2 {margin-left: 52.5%;}

/* 3 column grid */
.col-m-1-3 {width: 30.83333%;}
.col-m-2-3 {width: 64.16666%;}

.offset-m-1-3 {margin-left: 35.83333%;}
.offset-m-2-3 {margin-left: 69.16666%;}

/* 4 column grid */
.col-m-1-4 {width: 22.5%;}
.col-m-2-4 {width: 47.5%;}
.col-m-3-4 {width: 72.5%;}

.offset-m-1-4 {margin-left: 27.5%;}
.offset-m-2-4 {margin-left: 52.5%;}
.offset-m-3-4 {margin-left: 77.5%;}

/* 5 column grid */
.col-m-1-5 {width: 17.5%;}
.col-m-2-5 {width: 37.5%;}
.col-m-3-5 {width: 57.5%;}
.col-m-4-5 {width: 77.5%;}

.offset-m-1-5 {margin-left: 22.5%;}
.offset-m-2-5 {margin-left: 42.5%;}
.offset-m-3-5 {margin-left: 62.5%;}
.offset-m-4-5 {margin-left: 82.5%;}

/* 6 column grid */
.col-m-1-6 {width: 14.16666%;}
.col-m-2-6 {width: 30.83333%;}
.col-m-3-6 {width: 47.5%;}
.col-m-4-6 {width: 64.16666%;}
.col-m-5-6 {width: 80.83333%;}

.offset-m-1-6 {margin-left: 19.16666%;}
.offset-m-2-6 {margin-left: 35.83333%;}
.offset-m-3-6 {margin-left: 52.5%;}
.offset-m-4-6 {margin-left: 69.16666%;}
.offset-m-5-6 {margin-left: 85.83333%;}

/* 12 column grid */
.col-m-1-12  {width: 5.83333%;}
.col-m-2-12  {width: 14.16666%;}
.col-m-3-12  {width: 22.5%;}
.col-m-4-12  {width: 30.83333%;}
.col-m-5-12  {width: 39.16666%;}
.col-m-6-12  {width: 47.5%;}
.col-m-7-12  {width: 55.83333%;}
.col-m-8-12  {width: 64.16666%;}
.col-m-9-12  {width: 72.5%;}
.col-m-10-12 {width: 80.83333%;}
.col-m-11-12 {width: 89.16666%;}

.offset-m-1-12  {margin-left: 10.83333%;}
.offset-m-2-12  {margin-left: 19.16666%;}
.offset-m-3-12  {margin-left: 27.5%;}
.offset-m-4-12  {margin-left: 35.83333%;}
.offset-m-5-12  {margin-left: 44.16666%;}
.offset-m-6-12  {margin-left: 52.5%;}
.offset-m-7-12  {margin-left: 60.83333%;}
.offset-m-8-12  {margin-left: 69.16666%;}
.offset-m-9-12  {margin-left: 77.5%;}
.offset-m-10-12 {margin-left: 85.83333%;}
.offset-m-11-12 {margin-left: 94.16666%;}
