/******************************************************************
Developed by:
URL:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name:
Author:
=======
Developed by:
URL:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.
******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/*********************
COLORS
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
.center {
  text-align: center; }

/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid; }

.alert-help {
  border-color: #e8dc59;
  background: #ebe16f; }

.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8; }

.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4; }

.alert-success {
  border-color: #deeaae;
  background: #e6efc2; }

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/******************************************************************
Developed by:
URL:

Stylesheet: Grid Stylesheet (appends to _grid_base.scss)

Mutliple column choices are available based on fractions.
You can reduce your fractions or not, the choice is yours.
Don't need all the grids? Just delete them :)
******************************************************************/
/* 1 column grid */
.col-full {
  width: 97.5%; }

/* 2 column grid */
.col-1-2 {
  width: 47.5%; }

.offset-1-2 {
  margin-left: 52.5%; }

/* 3 column grid */
.col-1-3 {
  width: 30.83333%; }

.col-2-3 {
  width: 64.16666%; }

.offset-1-3 {
  margin-left: 35.83333%; }

.offset-2-3 {
  margin-left: 69.16666%; }

/* 4 column grid */
.col-1-4 {
  width: 22.5%; }

.col-2-4 {
  width: 47.5%; }

.col-3-4 {
  width: 72.5%; }

.offset-1-4 {
  margin-left: 27.5%; }

.offset-2-4 {
  margin-left: 52.5%; }

.offset-3-4 {
  margin-left: 77.5%; }

/* 5 column grid */
.col-1-5 {
  width: 17.5%; }

.col-2-5 {
  width: 37.5%; }

.col-3-5 {
  width: 57.5%; }

.col-4-5 {
  width: 77.5%; }

.offset-1-5 {
  margin-left: 22.5%; }

.offset-2-5 {
  margin-left: 42.5%; }

.offset-3-5 {
  margin-left: 62.5%; }

.offset-4-5 {
  margin-left: 82.5%; }

/* 6 column grid */
.col-1-6 {
  width: 14.16666%; }

.col-2-6 {
  width: 30.83333%; }

.col-3-6 {
  width: 47.5%; }

.col-4-6 {
  width: 64.16666%; }

.col-5-6 {
  width: 80.83333%; }

.offset-1-6 {
  margin-left: 19.16666%; }

.offset-2-6 {
  margin-left: 35.83333%; }

.offset-3-6 {
  margin-left: 52.5%; }

.offset-4-6 {
  margin-left: 69.16666%; }

.offset-5-6 {
  margin-left: 85.83333%; }

/* 12 column grid */
.col-1-12 {
  width: 5.83333%; }

.col-2-12 {
  width: 14.16666%; }

.col-3-12 {
  width: 22.5%; }

.col-4-12 {
  width: 30.83333%; }

.col-5-12 {
  width: 39.16666%; }

.col-6-12 {
  width: 47.5%; }

.col-7-12 {
  width: 55.83333%; }

.col-8-12 {
  width: 64.16666%; }

.col-9-12 {
  width: 72.5%; }

.col-10-12 {
  width: 80.83333%; }

.col-11-12 {
  width: 89.16666%; }

.offset-1-12 {
  margin-left: 10.83333%; }

.offset-2-12 {
  margin-left: 19.16666%; }

.offset-3-12 {
  margin-left: 27.5%; }

.offset-4-12 {
  margin-left: 35.83333%; }

.offset-5-12 {
  margin-left: 44.16666%; }

.offset-6-12 {
  margin-left: 52.5%; }

.offset-7-12 {
  margin-left: 60.83333%; }

.offset-8-12 {
  margin-left: 69.16666%; }

.offset-9-12 {
  margin-left: 77.5%; }

.offset-10-12 {
  margin-left: 85.83333%; }

.offset-11-12 {
  margin-left: 94.16666%; }

/******************************************************************
Developed by:
URL:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.


------------------------------------------------------------------
- TABLE OF CONTENTS
------------------------------------------------------------------

1.0 - General Styles
    1.1 - Links
    1.2 - Headings
2.0 - Layout & Grid
3.0 - Header
	3.1 - Login
    3.2 - Main Navigation
4.0 - Pages
	4.1 - Homepage
5.0 - Blog
	5.1 - Single Posts
	5.2 - Pagination
6.0 - Forms
7.0 - Comments
8.0 - Sidebars
9.0 - Footer
10.0 - Visual Composer

******************************************************************/
/*------------------------------------------------------------------
Developed by:
URL:

Stylesheet: Tablet & Small Desktop Stylesheet
(Screens Sizes 768px and Up)


------------------------------------------------------------------
- TABLE OF CONTENTS
------------------------------------------------------------------

1.0 - General Styles
    1.1 - Links
    1.2 - Headings
2.0 - Layout & Grid
3.0 - Header
	3.1 - Login
    3.2 - Navigation
4.0 - Banners
	4.1 - Homepage
	4.2 - Portfolio
5.0 - Blog
	5.1 - Single Posts
	5.2 - Pagination
6.0 - Forms
7.0 - Comments
8.0 - Sidebars
9.0 - Footer
10.0 - Visual Composer
11.0 - Woocommerce



/*------------------------------------------------------------------
1.0 - General Styles
------------------------------------------------------------------*/
body {
  padding-top: 0; }

p {
  font-size: 16px; }

ul {
  font-size: 14px;
  line-height: 1.5; }
  ul li {
    padding: 0 0 15px 0; }

ol {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 20px 20px; }
  ol li {
    padding: 0 0 15px 0; }

/*------------------------------------------------------------------
1.1 - Links
------------------------------------------------------------------*/
/*------------------------------------------------------------------
1.2 - Headings
------------------------------------------------------------------*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  margin: 0 0 15px 0;
  line-height: 1; }

h1, .h1 {
  font-size: 72px;
  line-height: 1;
  margin: 30px 0 10px 0; }

h2, .h2 {
  font-size: 56px; }

h5, .h5 {
  font-size: 16px; }

h6, .h6 {
  font-size: 14px; }

/*------------------------------------------------------------------
2.0 - Layout
------------------------------------------------------------------*/
.mobile {
  display: none !important; }

.desktop {
  display: inherit;
  line-height: 0; }

.container {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  display: inline; }

#page-container {
  width: auto;
  /*prevents text from overflowing screen width*/ }

#inner-content .row {
  margin-bottom: 50px; }

/*------------------------------------------------------------------
3.0 - Header
------------------------------------------------------------------*/
.header {
  z-index: 300;
  color: #333;
  background: transparent; }
  .header img {
    width: auto;
    max-width: 100%; }
  .header .logo {
    width: auto; }
  .header .dropdown-menu ul {
    text-align: center; }

/*------------------------------------------------------------------
3.1 - Login
------------------------------------------------------------------*/
/*------------------------------------------------------------------
3.2 - Navigation
------------------------------------------------------------------*/
.fixed {
  right: 3%; }

.flyout-menu-container {
  width: 100%; }

.main-menu-container {
  width: auto;
  display: inline-block; }
  .main-menu-container ul {
    float: right;
    margin: 0; }
  .main-menu-container li {
    padding: 5px 0 5px 30px;
    text-align: right;
    display: inline-block; }
    .main-menu-container li a {
      text-transform: uppercase;
      color: #333; }
      .main-menu-container li a:hover {
        color: #f15f43; }

nav {
  border: 0; }

.nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav ul {
    margin-top: 0; }
  .nav li {
    position: relative;
    /*
    plan your menus and drop-downs wisely.
    */
    /* showing sub-menus */ }
    .nav li a {
      border-bottom: 0;
      /*
      you can use hover styles here even though this size
      has the possibility of being a mobile device.
      */ }
    .nav li .sub-menu::after {
      content: '';
      display: block;
      position: absolute;
      left: 15px;
      top: -4px;
      width: 15px;
      height: 15px;
      border-color: #FFF;
      border-width: 1px;
      border-style: none none solid solid;
      background-color: #fff;
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      z-index: -1; }
    .nav li ul.sub-menu,
    .nav li ul.children {
      margin-top: 0;
      border: 1px solid #ccc;
      border-top: 0;
      position: absolute;
      overflow: hidden;
      visibility: hidden;
      z-index: 8999;
      background-color: #FFF;
      border-radius: 5px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
      z-index: 11;
      /* highlight sub-menu current page */ }
      .nav li ul.sub-menu li,
      .nav li ul.children li {
        margin: 0; }
        .nav li ul.sub-menu li a,
        .nav li ul.children li a {
          border-right: 0;
          display: block;
          width: 180px;
          border-bottom: 1px solid #ccc;
          padding: 10px 10px 10px 20px;
          color: #222; }
          .nav li ul.sub-menu li a:hover, .nav li ul.sub-menu li a:focus,
          .nav li ul.children li a:hover,
          .nav li ul.children li a:focus {
            color: #000; }
    .nav li:hover ul {
      top: auto;
      overflow: visible;
      visibility: visible; }

/* end .nav */
/*------------------------------------------------------------------
4.0 - Pages
------------------------------------------------------------------*/
/*------------------------------------------------------------------
5.0 - Blog
------------------------------------------------------------------*/
/*------------------------------------------------------------------
5.1 - Single Posts
------------------------------------------------------------------*/
p.tags {
  font-size: 14px; }

.post-excerpt-container h2 {
  font-size: 56px; }

/*------------------------------------------------------------------
5.2 - Pagination
------------------------------------------------------------------*/
/*------------------------------------------------------------------
6.0 - Forms
------------------------------------------------------------------*/
/*------------------------------------------------------------------
7.0 - Comments
------------------------------------------------------------------*/
/*------------------------------------------------------------------
8.0 - Sidebars
------------------------------------------------------------------*/
.sidebar {
  padding-left: 30px; }

.widgettitle {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0.75em; }

.widget {
  padding: 0 0 30px 0; }
  .widget ul li {
    /* deep nesting */ }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

/*------------------------------------------------------------------
9.0 - Footer
------------------------------------------------------------------*/
.footer .footer-title {
  text-align: left !important;
  width: auto !important; }
.footer ul.footer-menu {
  float: right;
  text-align: right;
  padding: 10px 0 !important; }

/*------------------------------------------------------------------
10.0 - Visual Composer
------------------------------------------------------------------*/
/*------------------------------------------------------------------
11.0 - Woocommerce
------------------------------------------------------------------*/
/******************************************************************
Developed by:
URL:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

------------------------------------------------------------------
- TABLE OF CONTENTS
------------------------------------------------------------------

1.0 - General Styles
    1.1 - Links
    1.2 - Headings
2.0 - Layout & Grid
3.0 - Header
	3.1 - Login
    3.2 - Main Navigation
4.0 - Pages
	4.1 - Homepage
5.0 - Blog
	5.1 - Single Posts
	5.2 - Pagination
6.0 - Forms
7.0 - Comments
8.0 - Sidebars
9.0 - Footer
10.0 - Visual Composer

******************************************************************/
/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/

/*# sourceMappingURL=ie.css.map */
