/******************************************************************
Developed by:
URL:

Stylesheet: Main Stylesheet

Load stylesheets!
******************************************************************/
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

b, strong, .strong {
  font-weight: bold; }

dfn, em, .em {
  font-style: italic; }

small, .small {
  font-size: 75%; }

ul, ol {
  padding: 0;
  list-style-type: none; }

dd {
  margin: 0; }

.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none; }

/******************************************************************
Site Name:
Author:
=======
Developed by:
URL:

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.
******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/*********************
COLORS
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
.center {
  text-align: center; }

/* 	To embed your own fonts, use this syntax
	and place your fonts inside the
	library/fonts folder. For more information
	on embedding fonts, go to:
	http://www.fontsquirrel.com/
	Be sure to remove the comment brackets.
*/
/*	@font-face {
    	font-family: 'Font Name';
    	src: url('library/fonts/font-name.eot');
    	src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
    	font-weight: normal;
    	font-style: normal;
	}
*/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.alert-help, .alert-info, .alert-error, .alert-success {
  margin: 10px;
  padding: 5px 18px;
  border: 1px solid; }

.alert-help {
  border-color: #e8dc59;
  background: #ebe16f; }

.alert-info {
  border-color: #bfe4f4;
  background: #d5edf8; }

.alert-error {
  border-color: #f8cdce;
  background: #fbe3e4; }

.alert-success {
  border-color: #deeaae;
  background: #e6efc2; }

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/******************************************************************
Developed by:
URL:

Stylesheet: Base Grid Stylesheet

******************************************************************/
.wrap-sm {
  max-width: 930px;
  width: 94%;
  margin: 0 auto; }

/* Globally change grid width here */
.wrap {
  max-width: 1280px;
  width: 94%;
  margin: 0 auto; }

/* Globally change grid width here */
.wrap-full {
  width: 94%;
  margin: 0 auto;
  clear: both; }

/* Globally change grid width here */
.row {
  margin-left: -2.5%;
  width: 102.5%; }

.row:after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  position: relative;
  float: left;
  margin-left: 2.5%;
  display: block;
  max-width: 100%;
  zoom: 1; }
  [class*="col-"]:before, [class*="col-"]:after {
    content: "";
    display: table; }
  [class*="col-"]:after {
    clear: both; }

[class*="offset-"] {
  position: relative;
  float: left;
  display: block;
  zoom: 1; }
  [class*="offset-"]:before, [class*="offset-"]:after {
    content: "";
    display: table; }
  [class*="offset-"]:after {
    clear: both; }

/* 1 column grid */
.col-m-full {
  width: 97.5%; }

/* 2 column grid */
.col-m-1-2 {
  width: 47.5%; }

.offset-m-1-2 {
  margin-left: 52.5%; }

/* 3 column grid */
.col-m-1-3 {
  width: 30.83333%; }

.col-m-2-3 {
  width: 64.16666%; }

.offset-m-1-3 {
  margin-left: 35.83333%; }

.offset-m-2-3 {
  margin-left: 69.16666%; }

/* 4 column grid */
.col-m-1-4 {
  width: 22.5%; }

.col-m-2-4 {
  width: 47.5%; }

.col-m-3-4 {
  width: 72.5%; }

.offset-m-1-4 {
  margin-left: 27.5%; }

.offset-m-2-4 {
  margin-left: 52.5%; }

.offset-m-3-4 {
  margin-left: 77.5%; }

/* 5 column grid */
.col-m-1-5 {
  width: 17.5%; }

.col-m-2-5 {
  width: 37.5%; }

.col-m-3-5 {
  width: 57.5%; }

.col-m-4-5 {
  width: 77.5%; }

.offset-m-1-5 {
  margin-left: 22.5%; }

.offset-m-2-5 {
  margin-left: 42.5%; }

.offset-m-3-5 {
  margin-left: 62.5%; }

.offset-m-4-5 {
  margin-left: 82.5%; }

/* 6 column grid */
.col-m-1-6 {
  width: 14.16666%; }

.col-m-2-6 {
  width: 30.83333%; }

.col-m-3-6 {
  width: 47.5%; }

.col-m-4-6 {
  width: 64.16666%; }

.col-m-5-6 {
  width: 80.83333%; }

.offset-m-1-6 {
  margin-left: 19.16666%; }

.offset-m-2-6 {
  margin-left: 35.83333%; }

.offset-m-3-6 {
  margin-left: 52.5%; }

.offset-m-4-6 {
  margin-left: 69.16666%; }

.offset-m-5-6 {
  margin-left: 85.83333%; }

/* 12 column grid */
.col-m-1-12 {
  width: 5.83333%; }

.col-m-2-12 {
  width: 14.16666%; }

.col-m-3-12 {
  width: 22.5%; }

.col-m-4-12 {
  width: 30.83333%; }

.col-m-5-12 {
  width: 39.16666%; }

.col-m-6-12 {
  width: 47.5%; }

.col-m-7-12 {
  width: 55.83333%; }

.col-m-8-12 {
  width: 64.16666%; }

.col-m-9-12 {
  width: 72.5%; }

.col-m-10-12 {
  width: 80.83333%; }

.col-m-11-12 {
  width: 89.16666%; }

.offset-m-1-12 {
  margin-left: 10.83333%; }

.offset-m-2-12 {
  margin-left: 19.16666%; }

.offset-m-3-12 {
  margin-left: 27.5%; }

.offset-m-4-12 {
  margin-left: 35.83333%; }

.offset-m-5-12 {
  margin-left: 44.16666%; }

.offset-m-6-12 {
  margin-left: 52.5%; }

.offset-m-7-12 {
  margin-left: 60.83333%; }

.offset-m-8-12 {
  margin-left: 69.16666%; }

.offset-m-9-12 {
  margin-left: 77.5%; }

.offset-m-10-12 {
  margin-left: 85.83333%; }

.offset-m-11-12 {
  margin-left: 94.16666%; }

/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important
*/
/*------------------------------------------------------------------
Developed by:
URL:

Stylesheet: Base Mobile Stylesheet
Keep it simple, this loads on phones :)


------------------------------------------------------------------
- TABLE OF CONTENTS
------------------------------------------------------------------

1.0 - General Styles
    1.1 - Links
    1.2 - Headings
2.0 - Layout & Grid
3.0 - Header
	3.1 - Login
    3.2 - Navigation
4.0 - Pages
	4.1 - Homepage
5.0 - Blog
	5.1 - Single Posts
	5.2 - Pagination
6.0 - Forms
7.0 - Comments
8.0 - Sidebars
9.0 - Footer
10.0 - Visual Composer
11.0 - Woocommerce


/*------------------------------------------------------------------
1.0 - General Styles
------------------------------------------------------------------*/
html {
  height: 100%; }

html, body {
  font-family: "EurostileCondensed-Regular", Arial, sans-serif;
  font-weight: normal;
  font-size: 100%;
  line-height: 1.25;
  color: #565656;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0; }

body {
  min-height: 100%;
  display: flex;
  flex-direction: column; }

*:focus {
  outline: none; }

p {
  margin: 0 0 30px 0;
  font-size: 16px;
  line-height: 1.25;
  font-family: "EurostileCondensed-Regular", Arial, sans-serif; }

ul {
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 20px 10px;
  list-style: circle; }
  ul li {
    padding: 0 0 15px 0;
    color: #f15f43; }

strong {
  font-family: "EurostileCondensed-Bold", Arial, sans-serif; }

ol {
  font-size: 16px;
  line-height: 1.4;
  margin: 0 0 20px 0;
  list-style: decimal; }
  ol li {
    padding: 0 0 15px 0; }

ul.clearfix {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important; }

img {
  max-width: 100% !important;
  height: auto; }

.center {
  text-align: center; }

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

button {
  border: 1px solid #f15f43;
  color: #f15f43;
  text-align: center;
  padding: 20px 25px;
  margin: 30px auto 0;
  text-transform: uppercase;
  font-family: "EurostileCondensed-Bold", Arial, sans-serif;
  background-color: transparent;
  transition: .2s ease-in-out; }
  button:hover {
    color: #000;
    border: 1px solid #000; }
  button span {
    margin-left: 3px;
    font-size: 14px; }

/*------------------------------------------------------------------
1.1 - Links
------------------------------------------------------------------*/
a {
  color: #f15f43;
  font-weight: normal;
  text-decoration: none;
  font-family: "EurostileCondensed-Regular", Arial, sans-serif;
  outline: 0;
  transition: .2s ease-in-out;
  /* on hover */
  /* on click */
  /* mobile tap color */ }
  a:hover, a:focus {
    color: #000;
    outline: 0; }
  a:active {
    color: #000; }

/*------------------------------------------------------------------
1.2 - Headings
------------------------------------------------------------------*/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
  font-family: "EurostileCondensed-Bold", Arial, sans-serif;
  text-rendering: optimizelegibility;
  margin: 0 0 15px 0;
  color: #000;
  line-height: 1.2; }
  h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a, h4 a, .h4 a, h5 a, .h5 a {
    text-decoration: none;
    color: #f15f43; }
    h1 a:hover, .h1 a:hover, h2 a:hover, .h2 a:hover, h3 a:hover, .h3 a:hover, h4 a:hover, .h4 a:hover, h5 a:hover, .h5 a:hover {
      color: #000; }

h1, .h1 {
  font-size: 72px;
  text-transform: uppercase;
  font-weight: 800;
  color: #f15f43;
  padding: 10px 0;
  margin: 30px 0 15px 0; }

h2, .h2 {
  font-size: 56px;
  font-weight: 800;
  text-transform: capitalize; }

h3, .h3 {
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0 0 15px 0; }

h4, .h4 {
  font-size: 24px;
  font-weight: 400; }

h5, .h5 {
  font-size: 18px; }

h6, .h6 {
  font-size: 18px; }

/*------------------------------------------------------------------
2.0 - Layout & Grid
------------------------------------------------------------------*/
.mobile {
  display: block; }

.desktop {
  display: none; }

#inner-page-container {
  width: auto;
  /*prevents text from overflowing screen width*/ }

/*------------------------------------------------------------------
3.0 - Header
------------------------------------------------------------------*/
header ul {
  list-style: none; }
  header ul li {
    padding: 0; }
header img {
  width: 100%; }

.header {
  padding: 20px 0 10px 0;
  width: 100%;
  z-index: 900;
  position: relative;
  background: transparent; }
  .header img {
    width: auto; }
  .header .header-left {
    float: left;
    text-align: left;
    display: inline-block; }
  .header .header-right {
    margin-top: 18px;
    position: relative;
    display: flex;
    float: right;
    text-align: right; }
  .header .logo {
    min-width: 106px;
    height: auto;
    display: inline-block;
    margin: auto;
    transition: .2s linear;
    position: relative; }
    .header .logo a {
      display: inline-block;
      width: 100%; }
    .header .logo:hover {
      -webkit-transform: rotateZ(15deg);
      -ms-transform: rotateZ(15deg);
      transform: rotateZ(15deg); }
  .header .mobile-logo {
    width: 150px; }
    .header .mobile-logo img {
      width: 150px !important; }

/*------------------------------------------------------------------
3.1 - Login
------------------------------------------------------------------*/
.login-container form p {
  display: inline-block;
  font-size: 14px;
  margin: 0 0 10px 10px; }
  .login-container form p input {
    width: 120px;
    padding: 5px;
    color: #555; }
  .login-container form p input[type=submit] {
    margin: 0;
    font-size: 14px;
    padding: 8px 15px;
    width: auto; }

.welcome-text {
  color: #444;
  line-height: 1 !important;
  float: left;
  margin-top: 10px;
  margin-right: 12px; }

#logged-in-user-container {
  float: right; }
  #logged-in-user-container #logged-in-user-avatar {
    float: right;
    display: inline-block;
    margin-right: 5px; }
    #logged-in-user-container #logged-in-user-avatar img {
      border-radius: 50%; }
  #logged-in-user-container .logged-in-user-menu-btn {
    color: #444;
    font-size: 40px;
    display: block;
    float: right;
    line-height: .9;
    cursor: pointer;
    margin-right: 0; }
    #logged-in-user-container .logged-in-user-menu-btn:before {
      content: '+'; }
  #logged-in-user-container .active:before {
    content: 'x';
    font-size: 40px;
    line-height: .25 !important; }

.login-btn {
  display: block;
  padding: 5px 10px;
  color: #f15f43;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 15px; }
  .login-btn:hover {
    background-color: #000;
    color: #fff !important;
    border: solid 1px transparent; }

#logged-in-user-menu-container {
  position: fixed;
  top: 80px;
  right: 0;
  bottom: 0;
  width: 300px;
  background-color: #444;
  color: #fff;
  padding: 20px 30px;
  z-index: -1;
  height: 100vh;
  margin-right: -300px;
  text-align: left; }
  #logged-in-user-menu-container .welcome-text {
    border-bottom: 1px solid #333;
    padding: 0 0 10px 0;
    margin: 0 0 20px 0; }
  #logged-in-user-menu-container .log-out-container {
    clear: both; }

/*------------------------------------------------------------------
3.2 - Navigation
------------------------------------------------------------------*/
.hide {
  transform: translateX(100%) !important;
  transition: .2s transform; }

.main-menu-container {
  transition: .2s linear; }
  .main-menu-container a {
    font-size: 16px; }

@media only screen and (max-width: 767px) {
  .main-menu-container {
    display: none !important; } }
.fixed {
  position: fixed !important;
  z-index: 100;
  right: 5%; }
  .fixed span {
    background: #555 !important; }
  .fixed:hover span {
    background: #fff !important; }

.menu-btn-container {
  margin: 5px 0 0 30px;
  display: inline-block;
  height: auto;
  position: relative;
  padding: 0;
  z-index: 100; }
  .menu-btn-container button {
    float: right;
    color: #999;
    line-height: 0;
    width: 35px;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0; }
    .menu-btn-container button:hover #nav-icon span {
      background: #f15f43; }

#nav-icon {
  width: 32px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  #nav-icon:hover span {
    background: #f15f43; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 0px; }

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 9px; }

#nav-icon span:nth-child(4) {
  top: 18px; }

#nav-icon.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%; }

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%; }

.flyout-menu-container {
  text-align: center;
  background-color: #333;
  margin-left: 0px;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100vh;
  border-left: #111 1px solid;
  padding-top: 100px;
  max-width: 100%;
  width: 100%;
  transform: translateX(0);
  transition: .2s transform; }
  .flyout-menu-container button {
    background: transparent;
    float: right;
    padding: 20px;
    font-size: 28px;
    color: #777; }
  .flyout-menu-container ul {
    padding: 0 15px !important;
    margin: 0; }
    .flyout-menu-container ul li {
      width: 100%;
      float: left; }
      .flyout-menu-container ul li a {
        width: 100%;
        text-align: center;
        display: inline-block;
        padding: 25px;
        color: #777;
        font-size: 20px;
        text-transform: uppercase; }
        .flyout-menu-container ul li a:hover {
          color: #fff; }

/*------------------------------------------------------------------
4.0 - Pages
------------------------------------------------------------------*/
[class*="card-"] {
  border: 1px solid #dadada;
  padding: 30px;
  margin-bottom: 30px; }

/*------------------------------------------------------------------
5.0 - Blog
------------------------------------------------------------------*/
#blog-page-container {
  background-color: #fff;
  margin-top: -25px; }

.blog-content-container {
  background-color: #fff;
  padding: 20px 0 0 0; }

section {
  margin: 0 0 20px 0; }

.blog-title-container {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 10; }
  .blog-title-container .blog-line {
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    color: #dadada;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #dadada;
    z-index: -1; }
  .blog-title-container .blog-title {
    padding: 0 30px;
    margin: 0;
    background-color: #fff;
    width: auto;
    display: inline-block; }

.category-links {
  margin: 10px 0;
  list-style: none; }
  .category-links a {
    color: #f15f43;
    text-transform: uppercase;
    font-size: 24px; }
    .category-links a:hover {
      color: #000; }

.avatar {
  margin-bottom: 20px; }

.author-link {
  margin-top: 20px;
  display: block;
  font-size: 16px;
  font-weight: 400; }

.article-footer ul {
  list-style: none;
  padding: 0 !important;
  margin: 0 0 20px 0 !important; }
  .article-footer ul li {
    display: inline-block; }

.excerpt-read-more {
  clear: both;
  display: block;
  margin: 20px 0;
  color: #f15f43;
  font-family: "EurostileCondensed-Bold", Arial, sans-serif;
  text-transform: uppercase;
  width: max-content; }
  .excerpt-read-more:after {
    font-family: 'icomoon' !important;
    content: "\ea15";
    margin: 0 0 0 5px;
    font-size: 14px; }

.post-container img {
  width: 100%;
  height: auto; }

.addthis_button_compact i {
  color: #474747; }

.post-categories a {
  color: #999; }

.post-excerpt-container {
  margin-bottom: 40px;
  border: 1px solid #ddd;
  padding: 30px;
  position: relative; }
  .post-excerpt-container h2, .post-excerpt-container h2 a {
    margin: 0 0 5px 0;
    color: #000;
    font-family: "EurostileCondensed-Bold", Arial, sans-serif;
    line-height: 1;
    text-transform: uppercase; }
    .post-excerpt-container h2:hover, .post-excerpt-container h2 a:hover {
      color: #555; }
  .post-excerpt-container section, .post-excerpt-container a {
    margin-bottom: 0; }
  .post-excerpt-container p {
    margin: 0; }

.thumbnail-link {
  display: block;
  line-height: 0;
  max-height: 550px;
  overflow: hidden;
  position: relative; }
  .thumbnail-link .overlay {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    z-index: 1;
    transition: 0.3s linear;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center; }
    .thumbnail-link .overlay button {
      color: #fff;
      border: 1px solid #fff;
      margin: 0 auto;
      width: 85%;
      height: 80%;
      text-align: center; }
  .thumbnail-link img {
    width: 100%; }
  .thumbnail-link:hover .overlay {
    opacity: .8; }

.share-container {
  text-align: right;
  float: right;
  margin: 0 0 10px 0;
  position: absolute;
  right: 30px; }
  .share-container .share-title {
    text-transform: uppercase;
    color: #dadada;
    font-size: 24px;
    font-family: "EurostileCondensed-Bold", Arial, sans-serif;
    margin-right: 10px; }
  .share-container .icons {
    font-size: 20px;
    color: #dadada; }
    .share-container .icons:hover {
      color: #f15f43; }

.date-container {
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: #dadada;
  font-size: 20px; }

/*------------------------------------------------------------------
5.1 - Single Posts
------------------------------------------------------------------*/
.single-post .article-header:after {
  content: '';
  display: block;
  width: 85px;
  bottom: -5px;
  left: 0px;
  border: 1px solid #a3a3a3;
  margin: 15px 0 10px 0; }

.single-featured-image-container {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 0 0 30px 0;
  background-size: cover; }
  .single-featured-image-container img {
    width: 100%;
    height: auto; }
  .single-featured-image-container h1 {
    padding: 150px;
    color: #FFF;
    text-align: center;
    text-shadow: -1px 1px 0 rgba(100, 100, 100, 0.5); }

p.tags {
  margin-bottom: 75px;
  font-size: 14px;
  font-style: italic; }

#content {
  margin: 0; }

/* post meta */
.byline {
  color: #999; }

/* entry content */
.entry-content dd {
  margin-left: 0;
  font-size: 0.9em;
  color: #787878;
  margin-bottom: 1.5em; }
.entry-content img {
  margin: 0 0 1.5em 0;
  max-width: 100%;
  height: auto; }
.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }
.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

/* end .entry-content */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  /* images inside wp-caption */ }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

/* end .wp-caption */
/*------------------------------------------------------------------
5.2 - Pagination
------------------------------------------------------------------*/
.single-pagination {
  padding: 40px 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px dotted #ccc; }

.pagination {
  margin: 0 0 50px 0;
  font-size: 18px;
  clear: both; }
  .pagination a {
    color: #f15f43;
    display: inline-block;
    font-weight: 400; }
  .pagination a.current {
    color: #474747; }
  .pagination .page-numbers {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    padding: 5px; }
  .pagination .screen-reader-text {
    display: none; }

.next {
  color: #474747 !important;
  font-size: 18px;
  line-height: 1;
  float: right;
  margin-top: 0 !important; }
  .next:hover:after {
    background-color: #f15f43; }
  .next:after {
    font-family: 'FontAwesome';
    content: '\f061';
    padding: 20px;
    background-color: #474747;
    color: #fff;
    display: inline-block;
    margin-left: 15px; }

.prev {
  color: #474747 !important;
  font-size: 18px;
  line-height: 1;
  float: left;
  margin-top: 0 !important; }
  .prev:hover:before {
    background-color: #f15f43; }
  .prev:before {
    font-family: 'FontAwesome';
    content: '\f060';
    padding: 20px;
    background-color: #474747;
    color: #fff;
    display: inline-block;
    margin-right: 15px; }

.next, .prev-post, .next-post {
  text-align: center;
  display: inline-block; }
  .next a, .prev-post a, .next-post a {
    background-color: #474747;
    color: #fff;
    padding: 15px 20px; }
  .next:hover a, .prev-post:hover a, .next-post:hover a {
    color: #FFF;
    background-color: #ee8527; }

.prev-post {
  float: left; }
  .prev-post i {
    margin-right: 10px; }

.next-post {
  float: right; }
  .next-post i {
    margin-left: 10px; }

.pagination,
.wp-prev-next {
  margin: 1.1em 0 2.2em; }

.pagination {
  text-align: center; }
  .pagination ul {
    display: inline-block;
    white-space: nowrap;
    padding: 0;
    clear: both;
    margin: 1px; }
    .pagination ul li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden; }
      .pagination ul li a, .pagination ul li span {
        margin: 0;
        text-decoration: none;
        padding: 0;
        line-height: 1em;
        font-size: 1em;
        font-weight: normal;
        padding: .5em;
        min-width: 1em;
        display: block; }
      .pagination ul li span.current {
        font-weight: bold; }

/* end page navi */
/* fallback previous & next links */
.wp-prev-next .prev-link {
  float: left; }
.wp-prev-next .next-link {
  float: right; }

/* end .wp-prev-next */
/*------------------------------------------------------------------
6.0 - Forms
------------------------------------------------------------------*/
form {
  padding: 0 !important; }
  form li {
    padding: 0; }
  form label {
    color: #555;
    text-shadow: none;
    font-weight: normal; }
  form input, form textarea {
    padding: 10px !important;
    background-color: #FFF;
    border: 1px solid #CCC;
    color: #555;
    width: 100% !important;
    display: block;
    font-size: 18px !important; }

input[type=submit] {
  background-color: #f15f43; }

input[type="search"] {
  box-sizing: border-box; }

.widget_search label {
  display: none; }

.gform_wrapper {
  margin: 0; }
  .gform_wrapper ul {
    list-style: none;
    margin-left: 20px; }

.gform_wrapper ul.gform_fields li.gfield {
  padding-right: 0 !important; }

.search-form {
  display: flex;
  flex-direction: row; }
  .search-form input {
    /* Tell the input to use all the available space */
    flex-grow: 2;
    /* And hide the input's outline, so the form looks like the outline */
    border: 1px solid #ddd;
    border-right: 0; }
  .search-form button {
    background: #555;
    color: white;
    margin: 0;
    transition: .2s ease-in-out;
    border: none;
    padding: 15px 20px; }
    .search-form button [class*="icon-"] {
      font-size: 18px; }
    .search-form button:hover {
      background: #f15f43;
      border: none; }

/*------------------------------------------------------------------
7.0 - Comments
------------------------------------------------------------------*/
h3#comments {
  margin-top: 30px; }

.commentlist {
  /* general comment classes */
  /* vcard */
  /* end .commentlist .vcard */
  /* comment content */
  /* end .commentlist .comment_content */
  /* comment reply link */
  /* end .commentlist .comment-reply-link */ }
  .commentlist li {
    position: relative;
    clear: both;
    overflow: hidden;
    list-style-type: none;
    margin-bottom: 1.5em;
    padding: 0.7335em 10px;
    /* end .commentlist li ul.children */ }
    .commentlist li:last-child {
      margin-bottom: 0; }
    .commentlist li ul.children {
      margin: 0; }
  .commentlist li[class*=depth-] {
    margin-top: 1.1em; }
  .commentlist li.depth-1 {
    margin-left: 0;
    margin-top: 0; }
  .commentlist li:not(.depth-1) {
    margin-right: -10px;
    margin-left: -10px;
    margin-top: 0;
    padding-bottom: 0; }
  .commentlist .odd {
    background: #eee; }
  .commentlist .even {
    background: #fefefe; }
  .commentlist .vcard {
    margin-left: 50px; }
    .commentlist .vcard cite.fn {
      font-weight: 700;
      font-style: normal; }
    .commentlist .vcard time {
      float: right; }
      .commentlist .vcard time a {
        color: #999;
        text-decoration: none; }
        .commentlist .vcard time a:hover {
          text-decoration: underline; }
    .commentlist .vcard img.avatar {
      position: absolute;
      left: 10px;
      padding: 2px;
      border: 1px solid #cecece;
      background: #fff;
      width: auto; }
  .commentlist .comment_content {
    margin-left: 50px; }
    .commentlist .comment_content p {
      margin: 0.7335em 0 1.5em;
      font-size: 1em;
      line-height: 1.5em; }
  .commentlist .comment-reply-link {
    text-decoration: none;
    float: right;
    background: #4598bb;
    padding: 3px 5px;
    color: #fff;
    opacity: 0.65;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 0.9em; }
    .commentlist .comment-reply-link:hover, .commentlist .comment-reply-link:focus {
      opacity: 1; }

/* end .commentlist */
.respond-form {
  margin: 40px 0 0 0;
  background-color: #f8f7f7;
  padding: 15px 25px 0 25px; }
  .respond-form .alert-info {
    display: none; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em;
      /* form validation */ }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

/* comment form title */
#comment-form-title {
  margin-top: 0; }

/* allowed tags */
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

/* no comments */
.nocomments {
  margin: 0 20px 1.1em; }

/*------------------------------------------------------------------
8.0 - Sidebars
------------------------------------------------------------------*/
.widget ul {
  margin: 0; }
.widget a {
  color: #555; }
  .widget a:hover {
    color: #000; }

.widget_search {
  margin-bottom: 20px; }
  .widget_search input {
    padding: 10px;
    max-width: 100%; }

/*------------------------------------------------------------------
9.0 - Footer
------------------------------------------------------------------*/
.footer {
  clear: both;
  z-index: 200;
  padding: 10px 0;
  background-color: #f15f43;
  color: #fff;
  text-align: center; }
  .footer span {
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    font-family: "EurostileCondensed-Regular", Arial, sans-serif;
    text-align: center; }
  .footer .row {
    margin-bottom: 0 !important; }
  .footer a {
    color: #fff;
    outline: 0; }
    .footer a:hover {
      color: #fff; }
  .footer .footer-meta-data {
    padding: 15px 0; }
    .footer .footer-meta-data .footer-title {
      text-transform: uppercase;
      text-align: center;
      display: block;
      width: 100%; }
  .footer .menu-container {
    margin: 0 0 20px 0;
    background-color: #333; }
    .footer .menu-container span {
      color: #AAA !important; }
    .footer .menu-container li {
      padding: 0 0 0 20px; }
      .footer .menu-container li a {
        color: #CCC;
        font-size: 13px;
        padding: 15px 0;
        display: inline-block; }
  .footer ul.footer-menu {
    width: 100%;
    text-align: center;
    padding: 0 0 20px 0 !important; }
    .footer ul.footer-menu li {
      display: inline-block;
      text-align: center;
      padding: 0; }
      .footer ul.footer-menu li a {
        padding: 0 10px;
        border-top: none; }
        .footer ul.footer-menu li a:hover {
          border-top: none; }
  .footer .copyright {
    text-transform: capitalize;
    font-family: "EurostileCondensed-Regular", Arial, sans-serif;
    text-align: center;
    display: block; }

/*------------------------------------------------------------------
10.0 - Visual Composer
------------------------------------------------------------------*/
.dslc-modules-section {
  padding-left: 30px;
  padding-right: 30px; }

.top-icon a .dslc-icon {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px; }

.headshot {
  width: 80%;
  margin: auto;
  display: block;
  float: none; }

.headshot .dslc-image, .headshot img {
  border-radius: 50% !important; }

.dslc-widget ul li {
  list-style: none;
  padding: 10px 15px;
  background-color: #494949; }

/*------------------------------------------------------------------
11.0 - Woocommerce
------------------------------------------------------------------*/
.product_title {
  font-size: 54px;
  text-transform: capitalize;
  line-height: 1.1; }

.woocommerce button.button, .woocommerce button.button.alt {
  background-color: #f15f43;
  border-radius: 0;
  padding: 14px; }
  .woocommerce button.button:hover, .woocommerce button.button.alt:hover {
    background-color: #000; }

/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*/
@media only screen and (min-width: 481px) {
  /******************************************************************
  Developed by:
  URL:
  
  Stylesheet: 481px and Up Stylesheet
  
  This stylesheet is loaded for larger devices. It's set to
  481px because at 480px it would load on a landscaped iPhone.
  This isn't ideal because then you would be loading all those
  extra styles on that same mobile connection.
  
  A word of warning. This size COULD be a larger mobile device,
  so you still want to keep it pretty light and simply expand
  upon your base.scss styles.
  
  
  ------------------------------------------------------------------
  - TABLE OF CONTENTS
  ------------------------------------------------------------------
  
  1.0 - General Styles
      1.1 - Links
      1.2 - Headings
  2.0 - Layout & Grid
  3.0 - Header
  	3.1 - Login
      3.2 - Main Navigation
  4.0 - Pages
  	4.1 - Homepage
  5.0 - Blog
  	5.1 - Single Posts
  	5.2 - Pagination
  6.0 - Forms
  7.0 - Comments
  8.0 - Sidebars
  9.0 - Footer
  10.0 - Visual Composer
  
  ******************************************************************/ }
/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 768px) {
  /******************************************************************
  Developed by:
  URL:
  
  Stylesheet: Grid Stylesheet (appends to _grid_base.scss)
  
  Mutliple column choices are available based on fractions.
  You can reduce your fractions or not, the choice is yours.
  Don't need all the grids? Just delete them :)
  ******************************************************************/
  /* 1 column grid */
  .col-full {
    width: 97.5%; }

  /* 2 column grid */
  .col-1-2 {
    width: 47.5%; }

  .offset-1-2 {
    margin-left: 52.5%; }

  /* 3 column grid */
  .col-1-3 {
    width: 30.83333%; }

  .col-2-3 {
    width: 64.16666%; }

  .offset-1-3 {
    margin-left: 35.83333%; }

  .offset-2-3 {
    margin-left: 69.16666%; }

  /* 4 column grid */
  .col-1-4 {
    width: 22.5%; }

  .col-2-4 {
    width: 47.5%; }

  .col-3-4 {
    width: 72.5%; }

  .offset-1-4 {
    margin-left: 27.5%; }

  .offset-2-4 {
    margin-left: 52.5%; }

  .offset-3-4 {
    margin-left: 77.5%; }

  /* 5 column grid */
  .col-1-5 {
    width: 17.5%; }

  .col-2-5 {
    width: 37.5%; }

  .col-3-5 {
    width: 57.5%; }

  .col-4-5 {
    width: 77.5%; }

  .offset-1-5 {
    margin-left: 22.5%; }

  .offset-2-5 {
    margin-left: 42.5%; }

  .offset-3-5 {
    margin-left: 62.5%; }

  .offset-4-5 {
    margin-left: 82.5%; }

  /* 6 column grid */
  .col-1-6 {
    width: 14.16666%; }

  .col-2-6 {
    width: 30.83333%; }

  .col-3-6 {
    width: 47.5%; }

  .col-4-6 {
    width: 64.16666%; }

  .col-5-6 {
    width: 80.83333%; }

  .offset-1-6 {
    margin-left: 19.16666%; }

  .offset-2-6 {
    margin-left: 35.83333%; }

  .offset-3-6 {
    margin-left: 52.5%; }

  .offset-4-6 {
    margin-left: 69.16666%; }

  .offset-5-6 {
    margin-left: 85.83333%; }

  /* 12 column grid */
  .col-1-12 {
    width: 5.83333%; }

  .col-2-12 {
    width: 14.16666%; }

  .col-3-12 {
    width: 22.5%; }

  .col-4-12 {
    width: 30.83333%; }

  .col-5-12 {
    width: 39.16666%; }

  .col-6-12 {
    width: 47.5%; }

  .col-7-12 {
    width: 55.83333%; }

  .col-8-12 {
    width: 64.16666%; }

  .col-9-12 {
    width: 72.5%; }

  .col-10-12 {
    width: 80.83333%; }

  .col-11-12 {
    width: 89.16666%; }

  .offset-1-12 {
    margin-left: 10.83333%; }

  .offset-2-12 {
    margin-left: 19.16666%; }

  .offset-3-12 {
    margin-left: 27.5%; }

  .offset-4-12 {
    margin-left: 35.83333%; }

  .offset-5-12 {
    margin-left: 44.16666%; }

  .offset-6-12 {
    margin-left: 52.5%; }

  .offset-7-12 {
    margin-left: 60.83333%; }

  .offset-8-12 {
    margin-left: 69.16666%; }

  .offset-9-12 {
    margin-left: 77.5%; }

  .offset-10-12 {
    margin-left: 85.83333%; }

  .offset-11-12 {
    margin-left: 94.16666%; }

  /*------------------------------------------------------------------
  Developed by:
  URL:
  
  Stylesheet: Tablet & Small Desktop Stylesheet
  (Screens Sizes 768px and Up)
  
  
  ------------------------------------------------------------------
  - TABLE OF CONTENTS
  ------------------------------------------------------------------
  
  1.0 - General Styles
      1.1 - Links
      1.2 - Headings
  2.0 - Layout & Grid
  3.0 - Header
  	3.1 - Login
      3.2 - Navigation
  4.0 - Banners
  	4.1 - Homepage
  	4.2 - Portfolio
  5.0 - Blog
  	5.1 - Single Posts
  	5.2 - Pagination
  6.0 - Forms
  7.0 - Comments
  8.0 - Sidebars
  9.0 - Footer
  10.0 - Visual Composer
  11.0 - Woocommerce
  
  
  
  /*------------------------------------------------------------------
  1.0 - General Styles
  ------------------------------------------------------------------*/
  body {
    padding-top: 0; }

  p {
    font-size: 16px; }

  ul {
    font-size: 14px;
    line-height: 1.5; }
    ul li {
      padding: 0 0 15px 0; }

  ol {
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 20px 20px; }
    ol li {
      padding: 0 0 15px 0; }

  /*------------------------------------------------------------------
  1.1 - Links
  ------------------------------------------------------------------*/
  /*------------------------------------------------------------------
  1.2 - Headings
  ------------------------------------------------------------------*/
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    margin: 0 0 15px 0;
    line-height: 1; }

  h1, .h1 {
    font-size: 72px;
    line-height: 1;
    margin: 30px 0 10px 0; }

  h2, .h2 {
    font-size: 56px; }

  h5, .h5 {
    font-size: 16px; }

  h6, .h6 {
    font-size: 14px; }

  /*------------------------------------------------------------------
  2.0 - Layout
  ------------------------------------------------------------------*/
  .mobile {
    display: none !important; }

  .desktop {
    display: inherit;
    line-height: 0; }

  .container {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    display: inline; }

  #page-container {
    width: auto;
    /*prevents text from overflowing screen width*/ }

  #inner-content .row {
    margin-bottom: 50px; }

  /*------------------------------------------------------------------
  3.0 - Header
  ------------------------------------------------------------------*/
  .header {
    z-index: 300;
    color: #333;
    background: transparent; }
    .header img {
      width: auto;
      max-width: 100%; }
    .header .logo {
      width: auto; }
    .header .dropdown-menu ul {
      text-align: center; }

  /*------------------------------------------------------------------
  3.1 - Login
  ------------------------------------------------------------------*/
  /*------------------------------------------------------------------
  3.2 - Navigation
  ------------------------------------------------------------------*/
  .fixed {
    right: 3%; }

  .flyout-menu-container {
    width: 100%; }

  .main-menu-container {
    width: auto;
    display: inline-block; }
    .main-menu-container ul {
      float: right;
      margin: 0; }
    .main-menu-container li {
      padding: 5px 0 5px 30px;
      text-align: right;
      display: inline-block; }
      .main-menu-container li a {
        text-transform: uppercase;
        color: #333; }
        .main-menu-container li a:hover {
          color: #f15f43; }

  nav {
    border: 0; }

  .nav {
    border: 0;
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .nav ul {
      margin-top: 0; }
    .nav li {
      position: relative;
      /*
      plan your menus and drop-downs wisely.
      */
      /* showing sub-menus */ }
      .nav li a {
        border-bottom: 0;
        /*
        you can use hover styles here even though this size
        has the possibility of being a mobile device.
        */ }
      .nav li .sub-menu::after {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        top: -4px;
        width: 15px;
        height: 15px;
        border-color: #FFF;
        border-width: 1px;
        border-style: none none solid solid;
        background-color: #fff;
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        z-index: -1; }
      .nav li ul.sub-menu,
      .nav li ul.children {
        margin-top: 0;
        border: 1px solid #ccc;
        border-top: 0;
        position: absolute;
        overflow: hidden;
        visibility: hidden;
        z-index: 8999;
        background-color: #FFF;
        border-radius: 5px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
        z-index: 11;
        /* highlight sub-menu current page */ }
        .nav li ul.sub-menu li,
        .nav li ul.children li {
          margin: 0; }
          .nav li ul.sub-menu li a,
          .nav li ul.children li a {
            border-right: 0;
            display: block;
            width: 180px;
            border-bottom: 1px solid #ccc;
            padding: 10px 10px 10px 20px;
            color: #222; }
            .nav li ul.sub-menu li a:hover, .nav li ul.sub-menu li a:focus,
            .nav li ul.children li a:hover,
            .nav li ul.children li a:focus {
              color: #000; }
      .nav li:hover ul {
        top: auto;
        overflow: visible;
        visibility: visible; }

  /* end .nav */
  /*------------------------------------------------------------------
  4.0 - Pages
  ------------------------------------------------------------------*/
  /*------------------------------------------------------------------
  5.0 - Blog
  ------------------------------------------------------------------*/
  /*------------------------------------------------------------------
  5.1 - Single Posts
  ------------------------------------------------------------------*/
  p.tags {
    font-size: 14px; }

  .post-excerpt-container h2 {
    font-size: 56px; }

  /*------------------------------------------------------------------
  5.2 - Pagination
  ------------------------------------------------------------------*/
  /*------------------------------------------------------------------
  6.0 - Forms
  ------------------------------------------------------------------*/
  /*------------------------------------------------------------------
  7.0 - Comments
  ------------------------------------------------------------------*/
  /*------------------------------------------------------------------
  8.0 - Sidebars
  ------------------------------------------------------------------*/
  .sidebar {
    padding-left: 30px; }

  .widgettitle {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.75em; }

  .widget {
    padding: 0 0 30px 0; }
    .widget ul li {
      /* deep nesting */ }
      .widget ul li ul {
        margin-top: 0.75em;
        padding-left: 1em; }

  /*------------------------------------------------------------------
  9.0 - Footer
  ------------------------------------------------------------------*/
  .footer .footer-title {
    text-align: left !important;
    width: auto !important; }
  .footer ul.footer-menu {
    float: right;
    text-align: right;
    padding: 10px 0 !important; }

  /*------------------------------------------------------------------
  10.0 - Visual Composer
  ------------------------------------------------------------------*/
  /*------------------------------------------------------------------
  11.0 - Woocommerce
  ------------------------------------------------------------------*/ }
/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*/
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Developed by:
  URL:
  
  Stylesheet: Desktop Stylsheet
  
  This is the desktop size. It's larger than an iPad so it will only
  be seen on the Desktop.
  
  ------------------------------------------------------------------
  - TABLE OF CONTENTS
  ------------------------------------------------------------------
  
  1.0 - General Styles
      1.1 - Links
      1.2 - Headings
  2.0 - Layout & Grid
  3.0 - Header
  	3.1 - Login
      3.2 - Main Navigation
  4.0 - Pages
  	4.1 - Homepage
  5.0 - Blog
  	5.1 - Single Posts
  	5.2 - Pagination
  6.0 - Forms
  7.0 - Comments
  8.0 - Sidebars
  9.0 - Footer
  10.0 - Visual Composer
  
  ******************************************************************/ }
/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) {
  /******************************************************************
  Developed by:
  URL:
  
  Stylesheet: Super Large Monitor Stylesheet
  
  You can add some advanced styles here if you like. This kicks in
  on larger screens.
  
  ------------------------------------------------------------------
  - TABLE OF CONTENTS
  ------------------------------------------------------------------
  
  1.0 - General Styles
      1.1 - Links
      1.2 - Headings
  2.0 - Layout & Grid
  3.0 - Header
  	3.1 - Login
      3.2 - Main Navigation
  4.0 - Pages
  	4.1 - Homepage
  5.0 - Blog
  	5.1 - Single Posts
  	5.2 - Pagination
  6.0 - Forms
  7.0 - Comments
  8.0 - Sidebars
  9.0 - Footer
  10.0 - Visual Composer
  
  ******************************************************************/ }
/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Developed by:
  URL:
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /*
  
  EXAMPLE
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go.
  
  */ }
/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print {
  /******************************************************************
  Developed by:
  URL:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }

/*# sourceMappingURL=style.css.map */
